R-Type
.vscode
*.o
#Template .gitignore
*.o
*.~
build
*.log
doxygen/*
bs
.vscode
CMakeUserPresets.json
*.a
*.so
*.cmake
Makefile
CMakeCache.txt
CMakeFiles/
*.test
lol
rengine/
*.dll
rtype
*.out
.env
entities/
src/main.cpp
script/R-Type-1.0.0-Linux.deb
_CPack_Packages/
R-Type-1.0.0-Linux.deb
